.card {
    border: 1px solid gray;
    display: inline-block;
    width: 150px;
1
height: 100px;
}

.cion-container {
    position: relative;
    height: 100px;
    padding-top: 8px;
}

.card>.cion-container>.icon {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 50%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: red;
    cursor: pointer;
}


.card>.cion-container>.icon::before{
    content: '';
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 1px solid rgb(255, 0, 0);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition:  0.5s;

}
.card>.cion-container>.icon:hover::before{
    border: 1px solid rgb(0, 0, 0);
    left: 10px;
    
}
.card>.cion-container>.icon>a{
    position: absolute;
    top: 50%;
    left: 50%;
transform: translate(-50%, -50%);
color: red;
transition: 1s;
}

.card>.cion-container>.icon>a:hover{
    color: white;
}
