.site-header {
    // position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;

    .header-top {
        padding: 20px 0px;

        .contact-info {
            margin: 0px;
            padding: 0;

            li:first-child {
                margin-right: 15px;
            }

            li {
                display: inline-block;
                color: white;

                p {
                    display: inline-block;
                    margin-left: 3px;
                    margin: 0px 0px 0px 3px;
                }

            }
        }

        .social-links {
            text-align: right;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin-right: 3px;

                a {
                    display: inline-block;
                    text-align: center;
                    height: 30px;
                    width: 30px;
                    background-color: white;
                    // border: 1px solid white;
                    border-radius: 100%;
                    color: #396cf0;
                    transition: .5s;

                    i {
                        margin-top: 7px;
                    }

                }

                a:hover {
                    background-color: #396cf0;
                    color: white;
                }
            }
        }
    }

    .header-bottom {
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;

        nav {
            background-color: white;
            padding: 20px 15px;
            .container {

                ul {
                    display: inline-block;
                    margin: 0;
                    padding: 0;

                    li {
                        display: inline-block;
                        position: relative;


                        a {
                            text-decoration: none;
                            color: black;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: 500;
                            font-size: 14px;
                            padding: 12px;
                            text-transform: uppercase;

                            i {
                                font-size: 13px;
                                color: grey;
                                margin-bottom: 5px;
                                margin-left: 2px;
                            }
                        }

                    }

                }

                div {
                    font-size: 15px;
                    line-height: 28px;

                    a {
                        background-color: #396cf0;
                        color: white;
                        border-radius: 0px;
                        font-size: 13px;
                        font-weight: bold;
                        padding: 15px 20px;
                        text-decoration: none;
                        transition: .5s;
                    }

                    a:hover {
                        background-color: #333333;
                    }
                }
            }

        }
    }
}