body {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 28px;

    a {
        outline: none;
    }
}


.site-footer {
    padding-top: 100px;
    padding-bottom: 50px;
}

.arrow-top {
    height: 45px;
    width: 50px;
    background-color: #396cf0;
    position: fixed;
    right: 0;
    bottom: 20px;
    text-align: center;
    border: 1px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 3;
    transition: .5s;

    cursor: pointer;

    i {
        font-size: 25px;
        color: white;
        margin-top: 10px;
        margin-left: 3px;

    }
}

.right {
    right: -200px;
}

.arrow-top:hover {
    background-color: #333333;
}






.photo-carousel {
    position: relative;
    z-index: 1;

    .photo-1 {
        height: 750px;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://templates.envytheme.com/promedi/default/assets/img/slider/1.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .photo-2 {
        height: 750px;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://templates.envytheme.com/promedi/default/assets/img/slider/2.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .photo-3 {
        height: 750px;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://templates.envytheme.com/promedi/default/assets/img/slider/3.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .item {
        position: relative;

    }

    .item h1 {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        color: #ffffff;
        font-weight: bold;
        font-size: 80px;
        display: inline-block;
        width: 825px;

    }

    .owl-item.active {
        h1 {
            animation-name: 'up';
            animation-duration: 1s;
        }
    }

    @keyframes up {
        from {
            top: 90%;
            opacity: .4;
        }

        to {
            top: 50%;
            opacity: 1;
        }
    }

    .owl-prev {
        position: absolute;
        left: 50px;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 50px;
        border: 1px solid #ffffff !important;
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        z-index: 4;
        transition: .5s;
        outline: none !important;

        i {
            color: white;
        }
    }

    .owl-prev:hover {
        background-color: #396cf0 !important;
        border: 0px !important;
    }

    .owl-next {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 50px;
        border: 1px solid #ffffff !important;
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        z-index: 4;
        transition: .5s;
        outline: none !important;

        i {
            color: white;
        }
    }

    .owl-next:hover {
        background-color: #396cf0 !important;
        border: 0px !important;
    }


}

//  start first section(services) 

.services {
    margin-top: -130px;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 15px 0;
    border: 1px solid #eeeeee;
    position: relative;
    z-index: 3;
    background-color: #ffffff;


    .card {
        position: relative;
        margin-bottom: 30px;
        transition: all .5s;

        .card-img-top {
            clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
            z-index: 2;
        }

        .back {
            position: absolute;
            height: 233px;
            width: 327.328px;
            background-color: #396cf0;
            clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);

            // z-index: -1;
        }

        .card-body {

            h5 {
                font-weight: bolder !important;
                font-size: 20px;
            }
        }


    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
        background-color: #ffffff;
        border: 1px solid #ffffff;
    }



    // .card:hover{
    //     margin-bottom: 40px!important;
    // }
}

// End of first section(services)

// Start of section about(second) 


.about {
    padding-top: 100px;
    padding-bottom: 100px;

    .about-img {
        clip-path: polygon(3% 18%, 0 0, 20% 2%, 76% 2%, 100% 0, 97% 19%, 96% 80%, 100% 100%, 80% 96%, 18% 96%, 0 100%, 3% 82%);
    }

    .card {
        border: 0px !important;

        .card-body {
            h3 {
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 15px;
            }

            a {
                display: inline-block;
                background-color: #396cf0;
                font-weight: bold;
                color: white;
                padding: 8px 30px;
                font-weight: bold;
                font-size: 14px;
                text-transform: uppercase;
                margin-top: 10px;
                transition: .5s;
            }

            a:hover {
                background-color: #333333;

                // border-radius: 4px;
            }
        }
    }
}


// End of section about(second) 

//Strat of section call-action (third) 
.call-action {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(https://templates.envytheme.com/promedi/default/assets/img/slider/1.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;


    .call-action-text {
        display: flex;
        position: relative;
        flex-direction: column;
        padding-left: 75px;
        color: #ffffff;

        i {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 60px;
            display: inline-block;
            transition: all .4s;
        }

        p {
            margin: 0;
        }

    }

    .call-action-btn {
        margin-top: 7px;

        button {
            color: #396cf0;
            border: 0px;
            font-weight: bold;
            font-size: 14px;
            padding-top: 12px !important;
            padding-bottom: 12px !important;
            padding-left: 30px;
            padding-right: 30px;
        }

        button:hover {
            background-color: #333333;
            color: #ffffff;
        }
    }
}

.call-action::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #396cf0;
    opacity: .9;
}

//End  of section call-action (third) 


// Strat of section departments (fourth)

.departments {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #f9faff;

    .title {
        margin-bottom: 70px;

        p {
            max-width: 700px;
            margin: auto;
            color: #333333;
        }

        h3 {
            font-size: 32px;
            margin-bottom: 22px;
        }

        hr {
            width: 75px;
            height: 3px;
            background-color: #396cf0;
            margin-bottom: 22px;
        }
    }

    .department-item {
        h3 {
            font-size: 20px;
            margin-top: 25px;
            margin-bottom: 15px;
            font-weight: bold;
        }

        p {
            margin: 0;
            color: #333333;
        }

        i {
            display: inline-block;
            height: 75px;
            width: 75px;
            clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
            color: #396cf0;
            background-color: #eaeaea;
            font-size: 35px;
            line-height: 75px;
            transition: all .5s;

        }

    }

    .department-item:hover {
        i {
            color: white;
            background-color: #396cf0;
        }
    }

}



// End of section departments (fourth)



// Start of watch video 

.watch-video {
    background-color: hsl(223, 86%, 58%);
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

    .watch-video-title {
        margin-bottom: 70px;

        p {
            max-width: 700px;
            margin: auto;
            color: #ffffff;
        }

        h3 {
            font-size: 32px;
            margin-bottom: 22px;
            color: #ffffff;
        }

        hr {
            width: 75px;
            height: 3px;
            background-color: #ffffff;
            margin-bottom: 22px;
        }
    }

    .watch-video-content {
        display: flex;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://templates.envytheme.com/promedi/default/assets/img/video-bg.jpg);
        background-size: cover;
        background-position: center center;
        height: 450px;
        max-width: 750px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        position: relative;
        border-radius: 5px;
        margin-bottom: -330px;
        justify-content: center;
        align-items: center;


        .play-btn {

            a {
                position: relative;
                background-color: #ffffff;
                display: inline-block;
                height: 100px;
                width: 100px;
                border-radius: 50%;
                transition: .5s;

                i {
                    color: #396cf0;
                    font-size: 50px;
                    margin-top: 23px;
                    margin-left: 10px;
                    transition: .5s;

                }
            }

            a:hover {
                background-color: #396cf0;

                i {
                    color: #ffffff;
                }
            }
        }

    }
}

// End of watch video 





// Start of countup 

.countup {
    padding-top: 330px;
    padding-bottom: 70px;

    .counter {
        font-weight: bold;
        font-size: 40px;
        margin: 20px 0 6px;
    }

    i {
        color: #396cf0;
        font-size: 45px;
    }

    p {
        font-size: 17px;
        color: #666666;
    }
}

// End of countup 


// Start of doctor

.doctors {
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: #f9faff;

    .title {
        margin-bottom: 70px;

        p {
            max-width: 700px;
            margin: auto;
            color: #333333;
        }

        h3 {
            font-size: 32px;
            margin-bottom: 22px;
        }

        hr {
            width: 75px;
            height: 3px;
            background-color: #396cf0;
            margin-bottom: 22px;
        }
    }

    .item {
        transition: .4s;

        .content {
            padding: 30px 20px;

            p {
                margin: 0;
            }

            h3 {
                font-size: 20px;
                margin-bottom: 15px;
                transition: .4s;
            }

            span {
                color: #396cf0;
            }

        }

        .img {
            clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
            position: relative;
        }

        .img-back {
            position: absolute;
            display: inline-block;
            width: 350px;
            height: 353px;
            top: 1px;
            z-index: -1;
            background-color: #396cf0;
            clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
        }

        .img-hover {
            position: absolute;
            display: inline-block;
            width: 350px;
            height: 0px;
            top: 1px;
            background-color: #396cf0;
            clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
            opacity: .9;
            transition: all .6s;

            .social-links {
                text-align: center;
                padding: 0;
                margin-top: 50%;
                transform: translateY(-50%);

                li {
                    display: inline-block;
                    margin-right: 3px;

                    a {
                        display: inline-block;
                        text-align: center;
                        height: 40px;
                        width: 40px;
                        background-color: white;
                        // border: 1px solid white;
                        border-radius: 100%;
                        color: #396cf0;
                        transition: .5s;

                        i {
                            margin-top: 12px;
                        }

                    }

                    a:hover {
                        background-color: #333333;
                        color: white;
                    }
                }
            }
        }


    }

    .item:hover {
        transform: translateY(-10px);
        box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
        background-color: #ffffff;

        .img-hover {
            height: 350px;
        }

        h3 {
            color: #396cf0;
        }
    }

    .owl-prev {
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 50px;
        background-color: #eeeeee !important;
        border: 1px solid #eeeeee !important;
        border-radius: 50%;
        z-index: 4;
        transition: .5s;
        outline: none !important;

        i {
            color: #396cf0;
        }
    }

    .owl-prev:hover {
        background-color: #396cf0 !important;
        border: 0px !important;

        i {
            color: #ffffff;
        }
    }

    .owl-next {
        position: absolute;
        right: -30px;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 50px;
        background-color: #eeeeee !important;
        border: 1px solid #eeeeee !important;
        z-index: 4;
        border-radius: 50%;
        transition: .5s;
        outline: none !important;

        i {
            color: #396cf0;
        }
    }

    .owl-next:hover {
        background-color: #396cf0 !important;
        border: 0px !important;

        i {
            color: #ffffff;
        }
    }
}

//End of doctor



// Start of appointment 



.appointment {
    .container-fluid {

        padding: 0 !important;

        .card-col-left {
            .img {
                height: 645px;
                background-image: url('https://templates.envytheme.com/promedi/default/assets/img/appointment-left-bg.jpg');
                background-position: center center;
                position: relative;

                h3 {
                    position: absolute;
                    text-align: right;
                    right: 0;
                    bottom: 100px;
                    background: rgba(47, 64, 112, 0.9);
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 35px;
                    padding: 25px 20px;
                }
            }
        }

        .card-col-right {
            background-color: #396cf0;


            form {
                max-width: 670px;
                padding-top: 90px;
                padding-bottom: 100px;
                padding-left: 50px;

                .form-control {
                    height: 45px;
                    border-color: #ffffff;
                    padding: 8px 15px;
                    border-radius: 5px;
                }

                .valid-feedback {
                    font-size: 1rem;
                    color: black;
                }

                .invalid-feedback {
                    font-size: 1rem;
                    color: yellow;
                }

                h3 {
                    font-size: 42px;
                    color: #ffffff;
                    margin-bottom: 30px;
                    font-weight: bold;
                }

                button {
                    color: #396cf0;
                    font-weight: bold;
                    transition: all .4s;
                }

                button:hover {
                    color: #ffffff;
                    background-color: #333333;
                    border-color: #333333;
                }
            }

        }
    }
}


// End of appointment 



//Start of patients

.patients-feedback {
    padding-top: 100px;
    padding-bottom: 70px;



    .center {
        border: 1px solid #396cf0;
    }

    .title {
        margin-bottom: 70px;

        p {
            max-width: 700px;
            margin: auto;
            color: #333333;
        }

        h3 {
            font-size: 32px;
            margin-bottom: 22px;
        }

        hr {
            width: 75px;
            height: 3px;
            background-color: #396cf0;
            margin-bottom: 22px;
        }
    }

    .item {
        transition: .4s;
        border: 1px solid #e3f6fd;
        padding: 5px;

        .content {
            background-color: #e3f6fd;
            padding: 25px;

            p {
                margin: 0;

            }

            h3 {
                font-size: 20px;
                margin-bottom: 15px;
                transition: .4s;
            }

            span {
                color: #396cf0;
            }

            i {
                color: #396cf0;
                font-size: 50px;

            }

            img {
                height: 80px;
                width: 80px;
                border: 2px solid #396cf0;
                border-radius: 50%;
                margin-left: 50%;
                transform: translateX(-50%);
            }

        }

    }

    .item:hover {
        border: 1px solid #396cf0;
        box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
    }

    .owl-prev {
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 50px;
        background-color: #eeeeee !important;
        border: 1px solid #eeeeee !important;
        border-radius: 50%;
        z-index: 4;
        transition: .5s;
        outline: none !important;

        i {
            color: #396cf0;
        }
    }

    .owl-prev:hover {
        background-color: #396cf0 !important;
        border: 0px !important;

        i {
            color: #ffffff;
        }
    }

    .owl-next {
        position: absolute;
        right: -30px;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 50px;
        background-color: #eeeeee !important;
        border: 1px solid #eeeeee !important;
        z-index: 4;
        border-radius: 50%;
        transition: .5s;
        outline: none !important;

        i {
            color: #396cf0;
        }
    }

    .owl-next:hover {
        background-color: #396cf0 !important;
        border: 0px !important;

        i {
            color: #ffffff;
        }
    }
}

// End of patients




// Start of cta-area 

.cta-area {
    background-color: #f9faff;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

    .content {
        max-width: 700px;
        margin: auto;
        text-align: center;

        h3 {
            font-weight: bold;
            font-size: 32px;
            line-height: 42px;
            margin: 0;
        }

        p {
            font-size: 20px;
            margin: 15px 0 0px;
        }

        .contact {
            font-size: 35px;
            font-weight: bold;
            color: #396cf0;
            margin-top: 25px;
        }
    }

    .img {
        position: absolute;
        bottom: 0;

        img {
            max-width: 210px;
        }
    }

}



// End of cta-area 



// Start of news 

.news {
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: #f9faff;

    .title {
        margin-bottom: 70px;

        p {
            max-width: 700px;
            margin: auto;
            color: #333333;
        }

        h3 {
            font-size: 32px;
            margin-bottom: 22px;
        }

        hr {
            width: 75px;
            height: 3px;
            background-color: #396cf0;
            margin-bottom: 22px;
        }
    }

    .item {
        transition: .4s;

        .content {
            padding: 30px 20px;


            p {
                margin: 0;
                color: #666666;
            }

            h3 {
                margin-top: -5px;
                font-weight: bold;
                margin-bottom: 15px;
                font-size: 20px;

                a {
                    color: #212529;
                    line-height: 28px;
                    outline: none;
                    text-decoration: none;
                    transition: .4s;

                }

                a:hover {
                    color: #396cf0;
                }
            }

            ul {
                margin: 20px 0;
                padding: 0;

                li.photo {
                    img {
                        margin-right: 5px;
                    }
                }

                li {
                    display: inline-block;
                    margin-right: 15px;
                    color: #666666;

                    img {
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                        display: inline-block;
                    }
                }
            }

            a.read {
                color: #396cf0;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 15px;
                margin-top: 20px;
                display: inline-block;
                line-height: 16px;
                text-decoration: none;

                i {
                    font-size: 12px;
                    margin-left: 1px;
                    transition: .4s;
                }
            }

            a.read:hover {
                i {
                    margin-left: 6px;
                }
            }


        }

        .img {
            clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
            position: relative;
        }

        .img-back {
            position: absolute;
            display: inline-block;
            width: 350px;
            height: 283px;
            top: 1px;
            z-index: -1;
            background-color: #396cf0;
            clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
        }




    }

    .item:hover {
        transform: translateY(-10px);
        box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
        background-color: #ffffff;

        .img-hover {
            height: 350px;
        }

        h3 {
            color: #396cf0;
        }
    }

    .owl-prev {
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 50px;
        background-color: #eeeeee !important;
        border: 1px solid #eeeeee !important;
        border-radius: 50%;
        z-index: 4;
        transition: .5s;
        outline: none !important;

        i {
            color: #396cf0;
        }
    }

    .owl-prev:hover {
        background-color: #396cf0 !important;
        border: 0px !important;

        i {
            color: #ffffff;
        }
    }

    .owl-next {
        position: absolute;
        right: -30px;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 50px;
        background-color: #eeeeee !important;
        border: 1px solid #eeeeee !important;
        z-index: 4;
        border-radius: 50%;
        transition: .5s;
        outline: none !important;

        i {
            color: #396cf0;
        }
    }

    .owl-next:hover {
        background-color: #396cf0 !important;
        border: 0px !important;

        i {
            color: #ffffff;
        }
    }
}


//End of news


// Start of letter last section

.letter {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('https://templates.envytheme.com/promedi/default/assets/img/newsletter-bg.jpg');
    position: relative;
    clip-path: polygon(21% 0, 100% 8%, 100% 100%, 50% 100%, 0 100%, 0 9%);

    .title {
        margin-bottom: 70px;

        p {
            max-width: 700px;
            margin: auto;
            color: #ffffff;
        }

        h3 {
            font-size: 32px;
            margin-bottom: 22px;
            color: #ffffff;
            font-weight: bold;

        }

        hr {
            width: 75px;
            height: 3px;
            background-color: #ffffff;
            margin-bottom: 22px;
        }
    }

    .form {
        position: relative;
        max-width: 600px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        form {
            input {
                position: relative;
                outline: none;
                width: 100%;
                border: none;
                border-radius: 30px;
                padding: 5px 25px;
                height: 50px;
                padding-right: 68px;
            }

            .invalid-feedback,
            .valid-feedback {
                color: #ffffff;
                font-size: 20px;
            }

            .invalid-form {
                animation-name: invalid;
                animation-duration: .4s;
                // transition: 1s;
            }

            @keyframes invalid {
                0% {
                    margin-left: 25px;
                }

                25% {
                    margin-left: -25px;
                }

                50% {
                    margin-left: 25px;
                }

                75% {
                    margin-left: -25px;
                }

                100% {
                    margin-left: 0;
                }
            }


            button {
                position: absolute;
                font-size: 30px;
                padding: 5px 25px;
                right: 0;
                top: 0;
                height: 50px;
                color: #396cf0;
                opacity: .65;
                transform: rotate(40deg);
                outline: none;
                border: 0;
            }
            button:focus {
                display: none;
            }

            button:hover {
                color: #333333;
            }

        }
    }

}

.letter::before {
    content: '';

    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(21% 0, 100% 8%, 100% 100%, 50% 100%, 0 100%, 0 9%);
    background-color: #396cf0;
    opacity: .9;
    z-index: -1;
}


// End of letter last section
