.center {
    height: 400px;
}

.f {
    margin-top: 20px;
    position: relative;
}

.a {

    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    border: 1px;
    border-radius: 20px;
    padding: 0px;
    width: 253px;
    left: 22px;
    top: 30px;
    height: 464px;
    /* margin-top: 40px;     */
    /* z-index: -1; */
    position: absolute;
    bottom: 32px;
    /* display: none; */

}

.f>img {
    height: 520px;
    width: 270px;
}

.nav1 {
    /* width: 379px; */
    /* right: 14px; */
    /* padding: 8px 8px; */
    /* text-align: none!important; */
    display: block !important;
    border: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    left: 0;
    width: 254px;
    height: 35px;
}

.nav1>i {
    color: white;
    font-size: 12px;
    margin-left: 6px !important;
}

.nav1>.arrow {
    margin-left: 2px !important;
}

.nav1>.video1 {
    margin-left: 80px !important;
}

.nav1>img {
    height: 25px;
    width: 25px;
    border: 1px;
    border-radius: 50%;
    display: inline-block;
    text-align: left !important;
    margin-left: 5px;
    margin-bottom: 3px;
}

.nav1>p {
    margin-bottom: 0px;
    margin-left: 5px;
    display: inline-block;
    font-family: bolder;
    color: white;
}

.bottom {
    margin-bottom: 10px;
    bottom: 7px;
    width: 255px;
    display: inline-block;
    position: relative;
}

.bottom>input {
    width: 213px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 3px 10px;
    margin-left: 3px;
    padding-left: 30px;

    /* margin-right: 10px; */
}

.bottom>i.sm {
    position: absolute;
    font-size: 20px;
    color: gray;
    left: 10px;
    top: 6px;
}

.bottom>.l {
    position: absolute;
    font-size: 20px;
    color: gray;
    right: 72px;
    top: 6px;
}

.bottom>.ca {
    position: absolute;
    font-size: 20px;
    color: gray;
    right: 44px;
    top: 6px;

}

.bottom>.sent {
    /* display: inline-block; */
    /* background-color: green; */
    /* text-align: center; */
    position: absolute;
    height: 30px;
    width: 30px;
    border: 1px;
    border-radius: 50%;
    right: 3px;
    bottom: 1px;
}

.bottom>.sent>a>i {
    color: white;
}

.ul {
    margin: 0px 5px;
    padding: 0px;
    position: relative;
    height: 400px;
    overflow-y:auto;
    overflow-x: unset;   /* bu overflowa gore mesaj tam dusmur  */
}
   


.li-left {
    margin-top: 5px;
    margin-left: 3px;
    padding: 1px 10px;
    border: 1px;
    border-radius: 15px;
    list-style-type: none;
    background-color: white;
    display: inline-block;

}
/* 
.li-left::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -5px; */
    /* border: 12px solid transparent; */
    /* border: 5px solid white; */
/* }  */

.li-right {
    margin-top: 5px;
    margin-right: 3px;
    padding: 1px 10px;
    border: 1px;
    border-radius: 15px;
    list-style-type: none;
    background-color: #9fff8e;
    display: inline-block;
    float: right;
}
/* 
.li-right::before {
    content: '';
    position: absolute;
    bottom: 14px;
    left: 230px;
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #9fff8e;
    border: 1px;
    border-bottom-right-radius: 100%;
    /* border: 12px solid transparent; */
    /* border: 5px solid #9fff8e; */
/* } */ 