header {
    position: fixed;
    // position: relative;
    z-index: 1;
    width: 100%;
}

.nav {

    // position: absolute;
    a {
        position: relative;

    }

    .pages {
        right: 90px;
        width: 380px;
        height: 364px;
        display: flex;
        flex-flow: row wrap;
        padding-top: 25px;
        padding-left: 10px;

        li {
            width: 50%;
        }
    }

    ul {
        position: absolute;
        top: 55px;

        opacity: 0;
        background-color: #354463;
        color: white;
        width: 235px;
        height: 312px;
        text-align: start;
        padding-top: 20px;
        padding-left: 10px;


        li {
            list-style-type: none;
            margin-bottom: 10px;
        }

    }

    a:hover+ul {
        text-decoration: none;
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
        transform: scaleX(1);
    }


    div {
        padding-right: 40px;
        color: #777;

        // background-color: white;



    }
}


nav {
    height: 71px;
    background-color: white;
    position: absolute;

    .lang {
        margin-right: 275px;
    }

    img {
        height: 40px;
        width: 122px;
    }

    .Donate {
        display: inline-block;
        color: black;
        // background-color: #c1f7d5;
        height: 71px;
        width: 260px;
        // border: 1px solid #c1f7d5;
        // border-radius: 1px;
        position: relative;
        left: 16px;

        span {
            // display: inline-block;
            // margin-top: 21px;
            width: 260px;
            height: 71px;
            position: absolute;
            right: 0;
            left: 0;
            background-color: #c1f7d5;
            // text-align: center;
            // color: #c1f7d5;

        }

    }

    .Donate>span:hover {
        height: 62px;
        margin-top: 5px;
        width: 219px;
        margin-left: 30px;
        background-color: #354463;
        color: #c1f7d5;
        transition: .5s;

    }
}

section {
    // height: 100vh;
    // background-color: black;

    .imgbg {
        background-image: url(https://demo.artureanec.com/html/helpo/mono/img/promo_1.jpg);
        width: 100%;
        height: 900px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
        position: relative;


    }

    .container {
        position: absolute;
        flex-flow: column;
        color: white;

        h1 {
            padding-right: 224px;
            width: 1160px;
            font-size: 80px;
            font-family: "Permanent Marker", cursive;
            font-weight: bolder;
            letter-spacing: -.050em;
            line-height: 1;
        }

        p {
            width: 750px;
            font-size: 16px;
            font-weight: 500;
            margin-right: 411px;
            margin-bottom: 30px;
        }

        a {
            margin-right: 60pc;
            // background-color: #354463;
            padding: 17px 70px;
            color: white;
            border: 1px solid #c1f7d5;
            border-radius: 50px;
            // max-width: 210px;
            // margin-top: 50px;
            display: inline-block;

        }

        a:hover {
            color: #354463;
            background-color: #c1f7d5;
            transform: translateY(-5px);
            transition: .3s;
            box-shadow: 0 20px 28px whitesmoke;
        }

    }

    .audio {
        position: absolute;
        height: 200px;
        width: 335px;
        right: 0;
        bottom: 0;
        background-image: url(https://demo.artureanec.com/html/helpo/mono/img/video_block.jpg);
        background-size: cover;

        a {
            color: white;
            font-size: 45px;

            span {
                display: inline-block;
                font-size: 16px;
                line-height: 1.6;
            }
        }

        a:hover {
            color: #c1f7d5;
        }

        &:hover {
            transform-style: preserve-3d;
            background-size: 400px;
            // transition-duration: 5s;
        }
    }

    .icons {
        display: flex;
        position: absolute;
        bottom: 100px;
        left: 100px;
        justify-content: space-evenly;

        div {
            padding-right: 70px;
            font-weight: 700;

            p {
                color: #c1f7d5;
                font-size: 11px;
            }

            a {
                color: white;

            }

            i {
                padding-right: 20px;
            }
a:hover{
    opacity: .75;
    color: #fff;
    text-decoration: none;
}    

        }
    }
}